@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 126 65% 98%;
    --foreground: 126 53% 4%;
    --muted: 306 38% 88%;
    --muted-foreground: 306 5% 38%;
    --popover: 126 65% 97%;
    --popover-foreground: 126 53% 3%;
    --card: 126 65% 97%;
    --card-foreground: 126 53% 3%;
    --border: 126 2% 90%;
    --input: 126 2% 90%;
    --primary: 126 47% 63%;
    --primary-foreground: 126 47% 3%;
    --secondary: 306 47% 63%;
    --secondary-foreground: 306 47% 3%;
    --accent: 306 47% 63%;
    --accent-foreground: 306 47% 3%;
    --destructive: 12 100% 20%;
    --destructive-foreground: 12 100% 80%;
    --ring: 126 47% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 126 47% 2%;
    --foreground: 126 26% 97%;
    --muted: 306 38% 12%;
    --muted-foreground: 306 5% 62%;
    --popover: 126 47% 3%;
    --popover-foreground: 126 26% 98%;
    --card: 126 47% 3%;
    --card-foreground: 126 26% 98%;
    --border: 126 2% 15%;
    --input: 126 2% 15%;
    --primary: 126 47% 63%;
    --primary-foreground: 126 47% 3%;
    --secondary: 306 47% 63%;
    --secondary-foreground: 306 47% 3%;
    --accent: 306 47% 63%;
    --accent-foreground: 306 47% 3%;
    --destructive: 12 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 126 47% 63%;
  }

  @font-face {
    font-family: 'Wondershine';
    src: url('/fonts/Wondershine.ttf');
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.ttf');
    font-weight: 100;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-RegularItalic.ttf');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.ttf');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Black.ttf');
    font-weight: 900;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
